Repository dirkzon/nexu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: user-service, api-gateway, auth-service, comment-service, media-service, post-service

.gitlab-ci.yml:

include:
  - template: Security/Secret-Detection.gitlab-ci.yml

stages:
  - test
  - packages

test:
  stage: test
  needs: []

user-service:
  stage: packages
  only:
    changes: 
      - user-service/**/*
  trigger: 
    include: '/user-service/.gitlab-ci.yml'

api-gateway:
  stage: packages
  only:
    changes: 
      - api-gateway/**/*
  trigger: 
    include: '/api-gateway/.gitlab-ci.yml'

auth-service:
  stage: packages
  only:
    changes: 
      - auth-service/**/*
  trigger: 
    include: '/auth-service/.gitlab-ci.yml'

comment-service:
  stage: packages
  only:
    changes: 
      - comment-service/**/*
  trigger: 
    include: '/comment-service/.gitlab-ci.yml'

media-service:
  stage: packages
  only:
    changes: 
      - media-service/**/*
  trigger: 
    include: '/media-service/.gitlab-ci.yml'

post-service:
  stage: packages
  only:
    changes: 
      - post-service/**/*
  trigger: 
    include: '/post-service/.gitlab-ci.yml'

fix: typo
  .github/workflows/deploytoAksCluster-3.yml
Due: none

chore: updated loggin
  api-gateway/src/main.ts
  auth-service/src/main.ts
  comment-service/src/main.ts
  media-service/src/main.ts
  post-service/src/main.ts
  user-service/src/main.ts
Due: user-service, api-gateway, auth-service, comment-service, media-service, post-service

Workflow asset
  manifests/deployment-4.yml
Due: none

Workflow asset
  manifests/ingress-4.yml
Due: none

Workflow asset
  manifests/service-4.yml
Due: none

Adding workflow file
  .github/workflows/deploytoAksCluster-4.yml
Due: none

feat: post service deployment with db
  .github/workflows/deploytoAksCluster-4.yml
  manifests/deployment-4.yml
  manifests/ingress-4.yml
  manifests/post-service-db.yml
  manifests/service-4.yml
  post-service/docker-compose.yml
  post-service/src/infrastructure/adaptors/mongoDB/config.ts
Due: post-service

fix: added post servcie db manifest
  .github/workflows/deploytoAksCluster-4.yml
Due: none

fix: docker image names
  .github/workflows/deploytoAksCluster-1.yml
  .github/workflows/deploytoAksCluster-2.yml
  .github/workflows/deploytoAksCluster-3.yml
  .github/workflows/deploytoAksCluster-4.yml
  .github/workflows/deploytoAksCluster.yml
  manifests/deployment-1.yml
  manifests/deployment-2.yml
  manifests/deployment-3.yml
  manifests/deployment-4.yml
  manifests/deployment.yml
Due: none

fix: post-service url
  manifests/deployment-3.yml
  manifests/deployment-4.yml
  post-service/src/infrastructure/adaptors/mongoDB/config.ts
Due: post-service

fix: typo
  .github/workflows/deploytoAksCluster-4.yml
Due: none

chore: updated ports
  manifests/comment-service-db.yml
  manifests/post-service-db.yml
Due: none

chore: updated db ports
  manifests/comment-service-db.yml
  manifests/post-service-db.yml
Due: none

Workflow asset
  manifests/deployment-5.yml
Due: none

Workflow asset
  manifests/ingress-5.yml
Due: none

Workflow asset
  manifests/service-5.yml
Due: none

Adding workflow file
  .github/workflows/deploytoAksCluster-5.yml
Due: none

feat: user service deployment with db
  .github/workflows/deploytoAksCluster-5.yml
  manifests/deployment-4.yml
  manifests/deployment-5.yml
  manifests/ingress-5.yml
  manifests/service-5.yml
  manifests/user-service-db.yml
  user-service/docker-compose.yml
  user-service/src/infrastructure/adaptors/MongoDB/config.ts
Due: user-service

chore: added db manifest to user-service workflow
  .github/workflows/deploytoAksCluster-5.yml
Due: none

chore: added cors to ingress
  manifests/ingress.yml
Due: none

feat: added test for all service commandhandlers
  auth-service/src/app.module.ts
  auth-service/src/application/commandHanders/create-user.command.handler.spec.ts
  auth-service/src/application/commandHanders/delete-user.command.handler.spec.ts
  auth-service/src/application/commandHanders/delete-user.command.handler.ts
  auth-service/src/application/commandHanders/login.command.handler.spec.ts
  auth-service/src/application/commandHanders/login.command.handler.ts
  auth-service/src/application/commandHanders/update-user.command.handler.spec.ts
  auth-service/src/application/commandHanders/update-user.command.handler.ts
  comment-service/src/application/commandHandlers/create-comment.command.handler.spec.ts
  comment-service/src/application/commandHandlers/create-comment.command.handler.ts
  comment-service/src/application/commandHandlers/delete-post-comments.command.handler.spec.ts
  comment-service/src/application/commandHandlers/delete-post-comments.command.handler.ts
  comment-service/src/application/commandHandlers/update-user.command.handler.spec copy.ts
  comment-service/src/application/commandHandlers/update-user.command.handler.spec.ts
  comment-service/src/application/commandHandlers/update-user.command.handler.ts
  media-service/src/application/commandHandlers/upload-avatar.command.handler.spec.ts
  media-service/src/application/commandHandlers/upload-image.command.handler.spec.ts
  media-service/test/test.png
  post-service/package.json
  post-service/src/application/commandHandlers/create-post.command.handler.spec.ts
  post-service/src/application/commandHandlers/create-post.command.handler.ts
  post-service/src/application/commandHandlers/delete-post.command.handler.spec.ts
  post-service/src/application/commandHandlers/delete-post.command.handler.ts
  post-service/src/application/commandHandlers/set-image.command.handler.spec.ts
  post-service/src/application/commandHandlers/set-like.command.handler.spec.ts
  post-service/src/application/commandHandlers/update-avatar.command.handler.spec.ts
  post-service/src/application/commandHandlers/update-avatar.command.handler.ts
  post-service/src/application/commandHandlers/update-user.command.handler.spec.ts
  post-service/src/application/commandHandlers/update-user.command.handler.ts
  post-service/src/application/commands/create-post.command.ts
  post-service/tsconfig.json
  user-service/src/application/commandHandlers/update-avatar.command.handler.spec.ts
  user-service/src/application/commandHandlers/update-avatar.command.handler.ts
Due: user-service, auth-service, comment-service, media-service, post-service

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

fix: test
  auth-service/src/application/commandHanders/update-user.command.handler.spec.ts
Due: auth-service

feat: added test stage
  .github/workflows/deploytoAksCluster-1.yml
Due: none

feat: testing in workflow
  .github/workflows/deploytoAksCluster-1.yml
Due: none

chore: updated pipeline
  .github/workflows/deploytoAksCluster-1.yml
Due: none

chore: updated workflow
  .github/workflows/deploytoAksCluster-1.yml
Due: none

chore: updated file name
  auth-service/src/application/commandHanders/update-user.command.handler.ts
  auth-service/src/application/commandHanders/user-created.command.handler.ts
  auth-service/src/application/ports/AuthStore.ts
  auth-service/src/infrastructure/adaptors/MongoDB/mongo.auth.store.ts
Due: auth-service

chore: updated tests
  auth-service/src/application/commandHanders/create-user.command.handler.spec.ts
  auth-service/src/application/commandHanders/login.command.handler.spec.ts
  auth-service/src/application/commandHanders/update-user.command.handler.spec.ts
  user-service/package.json
  web-client/src/store/comment/actions.ts
  web-client/src/store/constant.ts
  web-client/src/store/post/actions.ts
  web-client/src/store/user/actions.ts
Due: user-service, auth-service

chore: updated file import
  auth-service/src/application/ports/AuthStore.ts
Due: auth-service

chore: updated imports again
  auth-service/src/application/commandHanders/update-user.command.handler.ts
  auth-service/src/application/commandHanders/user-created.command.handler.ts
  comment-service/src/application/commandHandlers/create-comment.command.handler.spec.ts
  comment-service/src/application/commandHandlers/update-user.command.handler.spec copy.ts
Due: auth-service, comment-service

fix: import on auth store mongo
  auth-service/src/infrastructure/adaptors/MongoDB/mongo.auth.store.ts
Due: auth-service

feat: added testing to all workflows
  .github/workflows/deploytoAksCluster-2.yml
  .github/workflows/deploytoAksCluster-3.yml
  .github/workflows/deploytoAksCluster-4.yml
  .github/workflows/deploytoAksCluster-5.yml
Due: none

fix: updated import
  comment-service/src/application/commandHandlers/create-comment.command.handler.spec.ts
Due: comment-service

fix: imports
  comment-service/src/application/commandHandlers/update-user.command.handler.spec.ts
Due: comment-service

chore: removed file
  comment-service/src/application/commandHandlers/update-user.command.handler.spec copy.ts
Due: comment-service
